* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    color: #111;
    background-color: #fcfcfc;
}

h1 {
    font-size: calc(40px + 2vh);
    margin-bottom: 0.6em;
}

.element {
    font-size: calc(50px + 4vh);
    background-color: #add8e6;
    border: 0.07em solid #111;
    border-radius: 0.4em;
    padding: 0.35em;
    margin-bottom: 0.4em;
    transition: background-color 200ms;
}

.element-symbol {
    display: inline-block;
    position: relative;
}

.element-name {
    font-size: 0.5em;
    margin-top: 0.5em;
    min-width: 4.3em;
}

.element-atomic-number,
.element-atomic-weight {
    position: absolute;
    right: 105%;
    font-size: 0.3em;
}

.element-atomic-number {
    bottom: 0;
}

.heard-output {
    font-size: calc(20px + 1vh);
    margin-bottom: 0.8em;
}

.elements-link {
    font-size: calc(18px + 0.8vh);
    font-weight: 600;
    color: #111;
    border-bottom: 0.1em solid #111;
    text-decoration: none;
    margin-top: 0.6em;
}
