/* Include the padding and border in an element's total width and height */
* {
    box-sizing: border-box;
  }
  
  h1 {
    padding: 20px;
    background-color: #871dff;
    color: white;
    text-align: center;
    border-radius: 10px;
    text-shadow: rgb(206, 223, 241);
  }

  /* Remove margins and padding from the list */
  ul {
    margin: 0;
    padding: 0;
  }
  
  /* Style the list items */
  ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
  }
  
  /* Set all odd list items to a different color (zebra-stripes) */
  ul li:nth-child(odd) {
    background: #bd83ff;
  }
  
  /* Darker background-color on hover */
  ul li:hover {
    background: #dbbefc;
  }
  
  /* When clicked on, add a background color and strike out text */
  ul li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
  }
  
  /* Style the input */
  input {
    margin: 10px 0px;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
  }
  
  /* Style the "Add" button */
  .js-btn-add {
    padding: 10px;
    width: 25%;
    background: #9a42ff;
    color: white;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 10px;
  }
  
  .js-btn-add:hover {
    background-color: #bd83ff;
    color: black;
  }

  button {
    margin: 10px 0px 10px 0px;
    padding: 10px;
    width: 33.333%;
    background: #9a42ff;
    color: white;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 10px;
  }

  button:hover {
    background-color: #bd83ff;
    color: black;
  }

  .js-todos-list {
    list-style: none;
    padding: 10px;
    width: 100%;
    background: #871dff;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    transition: 0.3s;
    border-radius: 10px;
  }